.article-item {

    @extend %outer;
    @include flex(row,s);

    height: fit-content;
    min-height: 330px;

    @include screen(991) {

        min-height: auto;
    }

    &__image {
        min-width: 480px;
        width: 480px;
        min-height: 100%;
        margin-right: 20px;

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @include screen(1199) {
            min-width: 40%;
            width: 40%;
        }

        @include screen(991) {

            &.place-main {
                display: none;
            }
        }
    }

    &__content {
        @include flex(col,s);
        width: auto;
    }

    &__title {
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 500;
    }

    &__text {
        flex-grow: 1;
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 150%;
    }

    .button {

    }
}