.link-social {
    @extend %centered;

    width: 30px;
    height: 30px;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    
    @include transition(opacity);

    &:hover {
      opacity: .7;
    }

    .icon {
        width: 60%;
        height: 60%;
    }
}