.product-slider {

    --side-padding: 0;

    
    position: relative;
    padding: 0 var(--side-padding);

    @include screen(1439) {
        --side-padding: 5%;
    }
    @include screen(1199) {
        --side-padding: 6%;
    }
    @include screen(991) {
        --side-padding: 8%;
    }
    @include screen(768) {
        --side-padding: 0;
    }

    &__btn {
        top: 150px;
    }

    &__wrapper.swiper-wrapper {
        padding-top: 5px;
    }

    &__slide,
    .swiper-slide {
        @include flex(col,fs,c);
        height: 100%;
    }

    // &__item {
    //     position: relative;

    //     width: 280px;
    //     height: 100%;
    //     min-height: 430px;
    //     text-align: center;

    //     &-like {

    //         position: absolute;
    //         width: 30px;
    //         height: 30px;
    //         right: 12px;
    //         top: 12px;

    //         &:hover .icon {
                
    //             // stroke: $bg-color;
    //             fill: $bg-color-dark;
    //         }

    //     }
        
    //     &-image {
    //         position: relative;

    //         width: 100%;
    //         height: 350px;
    //         margin-bottom: 30px;
    
    //         box-shadow: 0px 0px 5px rgba(83, 81, 61, 0.4);
    //         background-color: #fff;
    //         background-position: center;
    //         background-repeat: no-repeat;
    //         background-size: contain;
    //     }

    //     &-title {
            
    //         font-size: 18px;
    //         text-transform: uppercase;
    //     }

    //     &-price {

    //         font-size: 24px;
    //         font-weight: bold;
    //         font-family: $serif;
    //     }

    //     &-hover {
    //         @include flex(col, c, c);

    //         position: absolute;
    //         width: 100%;
    //         height: 100%;
    //         left: 0;
    //         top: 0;
    //         z-index: 5;
    //         opacity: 0;
    //         background-color: $color2;
    //         transition: opacity .2s;

    //         &:hover {
    //             opacity: 1;
    //         }

    //         .button {
    //             width: 220px;
    //             margin: 30px 0;
    //         }

    //         &-options {

    //             @include flex(row,c,c);

    //             .button-round:not(:last-child) {
    //                 margin-right: 20px;
    //             }
    //         }
    //     }
    // }
}