.product-item {

    position: relative;
    width: 280px;
    height: 100%;
    min-height: 430px;
    text-align: center;

    &__like {

        display: none;
        position: absolute;
        width: 30px;
        height: 30px;
        right: 12px;
        top: 12px;
        z-index: 1;

        &.active {
            display: block;
        }

        // &:hover .icon {
            
        //     stroke: $bg-color;
        //     fill: $bg-color-dark;
        // }
    }
    
    &__image {
        position: relative;

        width: 100%;
        height: 350px;
        margin-bottom: 30px;

        box-shadow: 0px 0px 5px rgba(83, 81, 61, 0.4);
        background-color: #fff;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__title {
        
        font-size: 18px;
        text-transform: uppercase;
    }

    &__price {

        font-size: 24px;
        font-weight: bold;
        font-family: $serif;
    }

    &__hover {
        @include flex(col, c, c);

        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 5;
        opacity: 0;
        background-color: $color2;
        transition: opacity .2s;

        &:hover {
            opacity: 1;
        }

        .button {
            width: 220px;
            margin: 30px 0;
        }

        .button,
        .button-round {
            &:active {
                box-shadow: none;
                opacity: .9;
            }
        }

        &-options {

            @include flex(row,c,c);

            .button-round:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
}