.product-slider {

    --side-padding: 0;

    
    position: relative;
    padding: 0 var(--side-padding);

    @include screen(1439) {
        --side-padding: 5%;
    }
    @include screen(1199) {
        --side-padding: 6%;
    }
    @include screen(991) {
        --side-padding: 8%;
    }
    @include screen(768) {
        --side-padding: 0;
    }

    &__btn {
        top: 150px;
    }

    &__wrapper.swiper-wrapper {
        padding-top: 5px;
    }

    &__slide,
    .swiper-slide {
        @include flex(col,fs,c);
        height: 100%;
    }
}