.slider-btn {
    @include transition(opacity);

    position: absolute;
    width: 80px;
    height: 50px;
    padding: 10px;
    z-index: 10;

    &:hover {
        opacity: .6;
    }

    &.left {
        left: -50px;

        @include screen(991) {
            left: 20px;
        }
        @include screen(768) {
            left: 10px;
        }
        @include screen(568) {
            left: 0;
        }
    }

    &.right {
        right: -50px;

        @include screen(991) {
            right: 20px;
        }
        @include screen(768) {
            right: 10px;
        }
        @include screen(568) {
            right: 0;
        }
    }

    .icon {
        stroke: $color4;
    }

    &.disabled {
        display: none;
    }
}