.footer {

    @extend %outer;
    
    font-family: $sans-serif;
    background-color: $bg-color-dark;
    color: $font-color-light;

    &__wrapper {
        @extend %wrapper;
        padding: 30px 0;
    }

    &__content {
        @include flex(row, sb);
        
        @include screen(991) {
            @include flex(row, c,fs,wrap);
            text-align: center;
        }
    }
    
    &__column {
        width: 20%;
        margin-bottom: 30px;

        @include screen(991) {
            min-width: 30%;
        }

        @include screen(768) {
            width: 100%;
            margin-bottom: 0;
            
            &:not(.contacts) {
                display: none;
            }
        }
    }

    &__title {
        margin-bottom: 18px;
        font-size: 24px;
        font-family: $serif;
        text-transform: uppercase;

        @include screen(768) {
            display: none;
        }        
    }

    &__item {
        margin-bottom: 10px;
        font-size: 14px;

        @include screen(768) {
            margin-bottom: 20px;
        }  
    }

    .link-social {

        margin-top: 20px;

        .icon {
            fill: $bg-color;
        }

        @include screen(768) {
            margin-top: 0;
        }
    }

    &__copyright {
        font-size: 18px;
        text-align: center;
    }

}