@import "../components/lang-switcher";

.header-mobile {

    @extend %outer;

    position: absolute;
    // position: relative;
    display: none;
    width: 100%;
    height: var(--header-mobile-height);
    z-index: 1000;
    background-color: $bg-color;
    
    @include screen(991) {
        display: block;
    }
     
    &__wrapper {
        @include flex(row,sb,c);
        height: var(--header-mobile-height);
    }

    &__section {
        @include flex(row,fs,c);

        &:first-child > * {
            margin-right: 25px;
        }
        &:last-child > * {
            margin-left: 25px;
        }
    }

    &__burger {

        @include flex(col,sb,s);
        width: 34px;
        height: 24px;
        margin-right: 10px;
        cursor: pointer;

        &:hover &-elem {
            box-shadow: 0 0 4px $color4;
        }

        &-elem {
            position: relative;
            width: 100%;
            height: 2px;
            background-color: $color4;

            transition: all .2s;

            &-elem:nth-child(1) {
                transform-origin: left center;
            }
            &-elem:nth-child(2) {
                transform-origin: center;
            }
            &-elem:nth-child(3) {
                transform-origin: left center;
            }
        }

        &.active .header-mobile__burger-elem:nth-child(1) {
            top: 11px;
            transform: rotateZ(45deg);
        }
        &.active .header-mobile__burger-elem:nth-child(2) {
            width: 0;
        }
        &.active .header-mobile__burger-elem:nth-child(3) {
            top: -11px;
            transform: rotateZ(-45deg);
        }
    }

    &__logo {
        display: none;
        width: 70px;
        height: 65px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        @include screen(991) {
            display: block;
        }
    }

    &__icons-item {
        position: relative;
        
        .counter {
            position: absolute;

            width: 16px;
            height: 16px;
            right: -2px;
            top: 0;
            font-size: 10px;
            line-height: 18px;
            text-align: center;
            border-radius: 50%;
            background-color: $color3;
            color: $font-color-light;
            box-shadow: 0 0 1px 0px $main-font-color;
        }
    }

    .icon {
        @include transition(fill);
    }

    .icon-btn {
        width: 30px;
        height: 30px;

        &:hover .icon {
            fill: $color4;
        }
    }

    &__dropdown {

        position: absolute;
        width: 100%;
        height: 0;
        left: 0;
        z-index: 1000;
        overflow: hidden;
        background-color: $bg-color;

        transition: all .3s;

        &::-webkit-scrollbar {
            width: 5px;
             
            &-track {
                background-color: transparent;
                border-radius: 5px;
            }
             
            &-thumb {
                border-radius: 5px;
                background-color: rgba($main-font-color, .2);
                box-shadow: inset 0 0 3px rgba(0,0,0,0.2); 
            }
        }
    }

    &.active {

        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 1000;
    }

    &.active &__dropdown {

        position: fixed;
        height: calc( 100vh - var(--header-mobile-height) );
        top: var(--header-mobile-height);
        overflow-y: auto;
    }

    &__social,
    &__lang-switcher {

        @include flex(row, c);
        margin: 30px 0;

        .icon {
            fill: $main-font-color;
            stroke: transparent;
        }
    }
}