.nav-mobile {

    @extend %outer;
    position: relative;

    &.hidden {
        display: none;
    }
    
    &__item {
        margin-bottom: 20px;
        font-size: 18px;
        text-transform: uppercase;
    }

    &__dropdown {

        &-content {
            padding-top: 20px;
        }

        &-item {
            
        }

        &-btn {
            
            position: relative;
            display: inline-block;
            cursor: pointer;

            &::after {
                content: "";
                position: absolute;
                right: -30px;
                top: 40%;
                border-width: 6px;
                border-style: solid;
                border-color: $main-font-color transparent transparent transparent;
            }            
        }

        &.opened &-btn::after {
            top: 40%;
            transform: scaleY(-1);
        }

        &-link {
            display: block;
            height: 100%;
            margin-bottom: 10px;
            margin-left: 20px;
            font-size: 18px;
            text-transform: none;

        }
    }
}