.popular {
    
    &__slider {
        position: relative;

        padding: 0 20px;

        &-btn {
            
            top: 150px;
        }

        &-slide,
        .swiper-slide {
            @extend %centered;
        }
    }

    &__item {
        position: relative;

        width: 280px;
        height: 100%;
        min-height: 430px;
        text-align: center;

        // &-like {

        //     position: absolute;
        //     width: 30px;
        //     height: 30px;
        //     right: 12px;
        //     top: 12px;

        //     &:hover .icon {
                
        //         // stroke: $bg-color;
        //         fill: $bg-color-dark;
        //     }

        // }
        
        &-image {
            display: block;
    
            width: 100%;
            height: 350px;
            margin-bottom: 30px;
    
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &-title {
            
            font-size: 18px;
            text-align: center;
        }

        &-price {

            font-size: 24px;
            font-weight: bold;
            font-family: $serif;
        }
    }



}