footer.footer
    .footer__wrapper
        .footer__content
        
            .footer__column
                h2.footer__title компания
                .footer__item
                    a.footer__link(href="#") О нас
                .footer__item
                    a.footer__link(href="#") Полезные статьи

            .footer__column
                h2.footer__title продукция
                .footer__item
                    a.footer__link(href="#") Швейное оборудование
                .footer__item
                    a.footer__link(href="#") Аксессуары
                .footer__item
                    a.footer__link(href="#") Ткани
                .footer__item
                    a.footer__link(href="#") Швейная фурнитура

            .footer__column
                h2.footer__title покупателям
                .footer__item
                    a.footer__link(href="#") Доставка
                .footer__item
                    a.footer__link(href="#") Корзина

            .footer__column
                h2.footer__title контакты
                .footer__item
                    a.footer__link(href="#") Архангельск Поморская 11, 2&nbsp;этаж
                .footer__item
                    a.footer__link(href="tel:+78182460704") +7&thinsp;(8182)&thinsp;46-07-04
                .footer__item
                    a.footer__link(href="mailto:kosms@rambler.ru") kosms@rambler.ru
                .footer__item
                    a.footer__link.link-social(href="vk.com", aria-label="vkontakte") 
                        svg.icon
                            use(href="icons/icons.svg#vk")
                    a.footer__link.link-social(href="instagram.com", aria-label="instagram") 
                        svg.icon
                            use(href="icons/icons.svg#instagram")


        .footer__copyright &copy; ООО "Шейте сами" 2020
            

