.FRONT_NAVIGATION(
    style=`
        text-align: center;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    `)
    a(href="/", style="padding: 10px") main
    a(href="/pages.html", style="padding: 10px") pages
    a(href="/product-card.html", style="padding: 10px") product-card
    a(href="/catalog.html", style="padding: 10px") catalog
    a(href="/favorites.html", style="padding: 10px") favorites
    a(href="/cart.html", style="padding: 10px") cart
    a(href="/articles.html", style="padding: 10px") articles