.FRONT_NAVIGATION(style="text-align: center; padding-top: 20px")
    a(href="/", style="padding: 20px") main
    a(href="/pages.html", style="padding: 20px") pages
    a(href="/product-card.html", style="padding: 20px") product-card
    a(href="/catalog.html", style="padding: 20px") catalog