header.header
    .header__wrapper
        .header__row
            .header__logo(style=`background-image:url("${require('../../images/logo.png')}")`)
            .header__icons
        .header__row
            include ./nav.pug


