section.main-slider.section
    .main-slider__container.swiper-container
        .main-slider__wrapper.swiper-wrapper

            .main-slider__slide.swiper-slide
                .main-slider__slide-wrapper.wrapper
                    h3.main-slider__title шейте сами! шейте с нами!
                    .main-slider__text Магазин трикотажных тканей и различной фурнитуры
                    .main-slider__social
                        a.main-slider__social-link.link-social(href="vk.com", aria-label="vkontakte") 
                            svg.icon
                                use(href="icons/icons.svg#vk")
                        a.main-slider__social-link.link-social(href="instagram.com", aria-label="instagram") 
                            svg.icon
                                use(href="icons/icons.svg#instagram")
                .main-slider__image(data-bg=`url(${require('../../images/main-slider-1.jpg')})`)
                    .main-slider__image-overlay
                    .main-slider__bottom-panel
                        a.main-slider__button.button(href="#") Перейти в каталог
                        .main-slider__controls
                            button.main-slider__controls-btn.icon-btn.js-prev-btn(type="button", aria-label="Назад")
                                svg.icon
                                    use(href="icons/icons.svg#arr-left")
                            .main-slider__controls-data 01/02
                            button.main-slider__controls-btn.icon-btn.js-next-btn(type="button", aria-label="Вперед")
                                svg.icon
                                    use(href="icons/icons.svg#arr-right")

            .main-slider__slide.swiper-slide
                .main-slider__slide-wrapper.wrapper
                    h3.main-slider__title большой ассортимент!
                    .main-slider__text Товары для шитья и рукоделия
                    .main-slider__social
                        a.main-slider__social-link.link-social(href="vk.com", aria-label="vkontakte") 
                            svg.icon
                                use(href="icons/icons.svg#vk")
                        a.main-slider__social-link.link-social(href="instagram.com", aria-label="instagram") 
                            svg.icon
                                use(href="icons/icons.svg#instagram")
                .main-slider__image(data-bg=`url(${require('../../images/main-slider-2.jpg')})`)
                    .main-slider__image-overlay
                    .main-slider__bottom-panel
                        .main-slider__button.button Перейти в каталог
                        .main-slider__controls
                            button.main-slider__controls-btn.icon-btn.js-prev-btn(type="button", aria-label="Назад")
                                svg.icon
                                    use(href="icons/icons.svg#arr-left")
                            .main-slider__controls-data 01/02
                            button.main-slider__controls-btn.icon-btn.js-next-btn(type="button", aria-label="Вперед")
                                svg.icon
                                    use(href="icons/icons.svg#arr-right")


