nav.nav-mobile
    ul.nav-mobile__list

        li.nav-mobile__item.nav-mobile__dropdown.js-dropdown
            .nav-mobile__dropdown-btn.js-dropdown-btn швейное оборудование
            ul.nav-mobile__dropdown-content
                li.nav-mobile__dropdown-item
                    a.nav-mobile__dropdown-link(href="#") швейные машины
                li.nav-mobile__dropdown-item
                    a.nav-mobile__dropdown-link(href="#") оверлоки
                li.nav-mobile__dropdown-item
                    a.nav-mobile__dropdown-link(href="#") распошивальные машины
                li.nav-mobile__dropdown-item
                    a.nav-mobile__dropdown-link(href="#") лапки для швейных машин
                li.nav-mobile__dropdown-item
                    a.nav-mobile__dropdown-link(href="#") запчасти для швейных машин

        li.nav-mobile__item.nav-mobile__dropdown.js-dropdown
            .nav-mobile__dropdown-btn.js-dropdown-btn ткани
            ul.nav-mobile__dropdown-content
                li.nav-mobile__dropdown-item
                    a.nav-mobile__dropdown-link(href="#") швейные машины
                li.nav-mobile__dropdown-item
                    a.nav-mobile__dropdown-link(href="#") оверлоки
                li.nav-mobile__dropdown-item
                    a.nav-mobile__dropdown-link(href="#") распошивальные машины
                li.nav-mobile__dropdown-item
                    a.nav-mobile__dropdown-link(href="#") лапки для швейных машин
                li.nav-mobile__dropdown-item
                    a.nav-mobile__dropdown-link(href="#") запчасти для швейных машин

        li.nav-mobile__item.nav-mobile__dropdown.js-dropdown
            .nav-mobile__dropdown-btn.js-dropdown-btn швейная фурнитура
            ul.nav-mobile__dropdown-content
                li.nav-mobile__dropdown-item
                    a.nav-mobile__dropdown-link(href="#") швейные машины
                li.nav-mobile__dropdown-item
                    a.nav-mobile__dropdown-link(href="#") оверлоки
                li.nav-mobile__dropdown-item
                    a.nav-mobile__dropdown-link(href="#") распошивальные машины
                li.nav-mobile__dropdown-item
                    a.nav-mobile__dropdown-link(href="#") лапки для швейных машин
                li.nav-mobile__dropdown-item
                    a.nav-mobile__dropdown-link(href="#") запчасти для швейных машин

        li.nav-mobile__item.nav-mobile__dropdown.js-dropdown
            .nav-mobile__dropdown-btn.js-dropdown-btn аксессуары
            ul.nav-mobile__dropdown-content
                li.nav-mobile__dropdown-item
                    a.nav-mobile__dropdown-link(href="#") швейные машины
                li.nav-mobile__dropdown-item
                    a.nav-mobile__dropdown-link(href="#") оверлоки
                li.nav-mobile__dropdown-item
                    a.nav-mobile__dropdown-link(href="#") распошивальные машины
                li.nav-mobile__dropdown-item
                    a.nav-mobile__dropdown-link(href="#") лапки для швейных машин
                li.nav-mobile__dropdown-item
                    a.nav-mobile__dropdown-link(href="#") запчасти для швейных машин

        li.nav-mobile__item
            a.nav-mobile__link(href="#") доставка        

        li.nav-mobile__item
            a.nav-mobile__link(href="#") о нас

        li.nav-mobile__item
            a.nav-mobile__link(href="#") статьи                    



