nav.nav
    ul.nav__list
        li.nav__item
            a.nav__link(href="#") швейное оборудование
        li.nav__item
            a.nav__link(href="#") ткани
        li.nav__item
            a.nav__link(href="#") швейная фурнитура
        li.nav__item
            a.nav__link(href="#") аксессуары
        li.nav__item
            a.nav__link(href="#") доставка
        li.nav__item
            a.nav__link(href="#") о нас
        li.nav__item
            a.nav__link(href="#") статьи
