section.popular.section
    .popular__wrapper.wrapper
        .popular__header.section__header
            .popular__title.section__title популярные товары
        .popular__slider
            button.popular__slider-btn.slider-btn.left.icon-btn.js-prev-btn(type="button", aria-label="Назад")
                svg.icon
                    use(href="icons/icons.svg#arr-left")
            button.popular__slider-btn.slider-btn.right.icon-btn.js-next-btn(type="button", aria-label="Вперед")
                svg.icon
                    use(href="icons/icons.svg#arr-right")
            .popular__slider-container.swiper-container

                .popular__slider-wrapper.swiper-wrapper

                    .popular__slider-slide.swiper-slide
                        .popular__item
                            //- button.popular__item-like.icon-btn(type="button", aria-label="Поиск")
                                svg.icon
                                    use(href="icons/icons.svg#heart")
                            a.popular__item-image(href="#", data-bg=`url(${require('../../images/popular.jpg')})`)
                            a.popular__item-title(href="#") кашкарсе
                            .popular__item-price 420&nbsp;&#x20bd;/м
                    
                    .popular__slider-slide.swiper-slide
                        .popular__item
                            //- button.popular__item-like.icon-btn(type="button", aria-label="Поиск")
                                svg.icon
                                    use(href="icons/icons.svg#heart")
                            a.popular__item-image(href="#", data-bg=`url(${require('../../images/popular.jpg')})`) 
                            a.popular__item-title(href="#") лапка для тесьмы
                            .popular__item-price 530&nbsp;&#x20bd;
                    
                    .popular__slider-slide.swiper-slide
                        .popular__item
                            //- button.popular__item-like.icon-btn(type="button", aria-label="Поиск")
                                svg.icon
                                    use(href="icons/icons.svg#heart")
                            a.popular__item-image(href="#", data-bg=`url(${require('../../images/popular.jpg')})`) 
                            a.popular__item-title(href="#") пуговицы "мини"
                            .popular__item-price 5&nbsp;&#x20bd;/шт


