.article-item
    .article-item__image(data-bg=`url(${require('../../images/article.jpg')})`)
    .article-item__content
        h3.article-item__title Как рассчитать расход ткани на оконные шторы
        .article-item__text Вы уже почти закончили ремонт, но еще не оформили окна текстилем или хотите обновить шторы и тюль, но не знаете, сколько ткани купить? Необязательно вызывать профессионала – вам понадобится только измерительная рулетка и несколько свободных минут. Рассказываем и показываем, как легко и быстро рассчитать расход ткани для штор разной длины и типа крепления.
        a.article-item__btn.button(href="#") Подробнее