section.delivery.section
    .delivery__wrapper.wrapper
        .delivery__header.section__header
            .delivery__title.section__title доставка в другие города
        .delivery__content
            img.delivery__image(data-src=require('../../images/delivery.jpg'))
            //- .delivery__image(data-bg=`url(${require('../../images/delivery.jpg')})`)
            .delivery__text Доставка в другие города осуществляется почтой Росии. Посылки отправляем после 100% оплаты+250-300р на почтовые расходы. Оплата производится на карту Сбербанка.
                | Посылку оцениваем в 100р. По вашему желанию могу оценить больше, но почтовые расходы возрастут.После отправки посылки высылаю вам идентификатор. По нему можно отследить посылку на почте России: 
                |
                a(href="mailto:http://почта-россии.рф ") http://почта-россии.рф 
