section.main-articles.section
    .main-articles__wrapper.wrapper
        .main-articles__header.section__header
            h2.main-articles__title.section__title полезные статьи
        include ../components/article-item.pug