section.new-products.section
    .new-products__wrapper.wrapper
        .new-products__header.section__header
            h2.new-products__title.section__title новинки
        include ../components/product-slider