section.popular-products.section
    .popular-products__wrapper.wrapper
        .popular-products__header.section__header
            h2.popular-products__title.section__title популярные товары
        include ../components/product-slider


