.product-slider
    button.product-slider__btn.slider-btn.left.icon-btn.js-prev-btn(type="button", aria-label="Назад")
        svg.icon
            use(href="icons/icons.svg#arr-left")
    button.product-slider__btn.slider-btn.right.icon-btn.js-next-btn(type="button", aria-label="Вперед")
        svg.icon
            use(href="icons/icons.svg#arr-right")
    .product-slider__container.swiper-container

        .product-slider__wrapper.swiper-wrapper

            .product-slider__slide.swiper-slide
                .product-slider__item
                    //- button.product-slider__item-like.icon-btn(type="button", aria-label="В избранное")
                        svg.icon
                            use(href="icons/icons.svg#heart")
                    .product-slider__item-image.swiper-lazy(data-background=require('../../images/product.jpg'))
                        .product-slider__item-hover
                            a.product-slider__item-hover-btn.button(href="#") Подробнее
                            .product-slider__item-hover-options
                                button.button-round(type="button", aria-label="Нравится")
                                    svg.icon
                                        use(href="icons/icons.svg#heart")                                
                                button.button-round(type="button", aria-label="В корзину")
                                    svg.icon
                                        use(href="icons/icons.svg#cart")                                
                    a.product-slider__item-title(href="#") кашкарсе
                    .product-slider__item-price 420&nbsp;&#x20bd;/м
            
            .product-slider__slide.swiper-slide
                .product-slider__item
                    //- button.product-slider__item-like.icon-btn(type="button", aria-label="В избранное")
                        svg.icon
                            use(href="icons/icons.svg#heart")
                    .product-slider__item-image.swiper-lazy(data-background=require('../../images/product.jpg'))
                        .product-slider__item-hover
                            a.product-slider__item-hover-btn.button(href="#") Подробнее
                            .product-slider__item-hover-options
                                button.button-round(type="button", aria-label="Нравится")
                                    svg.icon
                                        use(href="icons/icons.svg#heart")                                
                                button.button-round(type="button", aria-label="В корзину")
                                    svg.icon
                                        use(href="icons/icons.svg#cart")                                
                    a.product-slider__item-title(href="#") лапка для тесьмы
                    .product-slider__item-price 530&nbsp;&#x20bd;
            
            .product-slider__slide.swiper-slide
                .product-slider__item
                    //- button.product-slider__item-like.icon-btn(type="button", aria-label="В избранное")
                        svg.icon
                            use(href="icons/icons.svg#heart")
                    .product-slider__item-image.swiper-lazy(data-background=require('../../images/product.jpg')) 
                        .product-slider__item-hover
                            a.product-slider__item-hover-btn.button(href="#") Подробнее
                            .product-slider__item-hover-options
                                button.button-round(type="button", aria-label="Нравится")
                                    svg.icon
                                        use(href="icons/icons.svg#heart")                                
                                button.button-round(type="button", aria-label="В корзину")
                                    svg.icon
                                        use(href="icons/icons.svg#cart")                                
                    a.product-slider__item-title(href="#") пуговицы "мини"
                    .product-slider__item-price 5&nbsp;&#x20bd;/шт

            .product-slider__slide.swiper-slide
                .product-slider__item
                    //- button.product-slider__item-like.icon-btn(type="button", aria-label="В избранное")
                        svg.icon
                            use(href="icons/icons.svg#heart")
                    .product-slider__item-image.swiper-lazy(data-background=require('../../images/product.jpg')) 
                        .product-slider__item-hover
                            a.product-slider__item-hover-btn.button(href="#") Подробнее
                            .product-slider__item-hover-options
                                button.button-round(type="button", aria-label="Нравится")
                                    svg.icon
                                        use(href="icons/icons.svg#heart")                                
                                button.button-round(type="button", aria-label="В корзину")
                                    svg.icon
                                        use(href="icons/icons.svg#cart")                                
                    a.product-slider__item-title(href="#") пуговицы "мини"
                    .product-slider__item-price 5&nbsp;&#x20bd;/шт


