section.sale.section
    .sale__wrapper
        .sale__content
            h3.sale__title успей купить
            .sale__text Оверлок Jaguar 8488 по супер цене
            .sale__price 16&thinsp;500 рублей
            button.sale__button.button(type="button") Купить
        img.sale__image(data-src=require('../../images/sale.png'))

