section.sale.section
    .sale__wrapper
        .sale__content
            h2.sale__title.section__title успей купить
            .sale__text Оверлок Jaguar 8488 по супер цене
            .sale__image(data-bg=`url(${require('../../images/sale.png')})`)
            .sale__price 16&thinsp;500 рублей
            a.sale__button.button(href="#") Купить

