.search.hidden.js-search
    .search-wrapper
        input.search-input.js-search-input(type="text", placeholder="поиск")
        .search-controls
            button.search-btn.icon-btn.js-search-btn-go(aria-label="Поиск")
                svg.icon
                    use(href="/icons/icons.svg#search")
            button.search-btn.icon-btn.js-search-btn-cancel(aria-label="Закрыть")
                svg.icon.cross
                    use(href="/icons/icons.svg#cross")
