extends ../layout/layout.pug
include ../mixins/product-item.pug


block content
    main.catalog
        .catalog__wrapper.wrapper
            h1.catalog__title.page-title швейное оборудование


            .catalog__content

                aside.catalog__filters
                    .catalog__filters-title Категория
                    .catalog__filters-list
                        .catalog__filters-item.active
                            .catalog__filters-marker
                            a.catalog__filters-link(href="#") все
                        .catalog__filters-item
                            .catalog__filters-marker
                            a.catalog__filters-link(href="#") швейные машины
                        .catalog__filters-item
                            .catalog__filters-marker
                            a.catalog__filters-link(href="#") оверлоки
                        .catalog__filters-item
                            .catalog__filters-marker
                            a.catalog__filters-link(href="#") распошивальные машины
                        .catalog__filters-item
                            .catalog__filters-marker
                            a.catalog__filters-link(href="#") лапки для швейных машин
                        .catalog__filters-item
                            .catalog__filters-marker
                            a.catalog__filters-link(href="#") запчасти для швейных машин

                .catalog__products
                    - var productIds = [
                    -   '0f5e3b23e0d5533c013903eef2b47224',
                    -   '173161678bc1a6cd976acc5b9ef081d5',
                    -   '515c960f45729a8b9624c127598da726',
                    -   'a8ee53f8229ff8eaad55d583bdb00c7a',
                    -   'ea7c7525db87f93bd8663998db28c20f',
                    -   '10050eb03338d2dae4c8964b3dbe5eee'
                    - ]
                    each id in productIds
                        .catalog__products-item
                            +product-item(id)

                    //- each item in [1,2,3,4,5,6]
                    //-     .catalog__products-item
                    //-         include ../components/product-item.pug
