extends ../layout/layout.pug

block content
    main.main
        .main__logo-wrapper.wrapper
            .main__logo(style=`background-image:url("${require('../../images/logo.svg')}")`)

        include ../modules/main-slider.pug
        include ../components/popular-products.pug
        include ../components/delivery.pug

        include ../components/new-products.pug
        include ../components/main-articles.pug