extends ../layout/layout.pug

block content
    main.pages
        .pages__wrapper.wrapper
            h1.pages__title.page-title Заголовок страницы
            .pages__content.custom-text
                p ООО “Шейте сами” - это магазин швейной техники и фурнитуры.
                p Добро пожаловать в наш магазин трикотажных тканей и различной фурнитуры!
                p У нас вы можете приобрести всё необходимое для шитья дома - ткани, Также для реализации ваших идей у нас можно приобрести верного помощника - швейную машину, оверлок или другую технику.
                p Получить консультацию по выбору и приобрести все это можно в нашем отделе в ТЦ "Панда" по адресу: Архангельск, ул. Поморская 11, 2 этаж.
                p ООО “Шейте сами” - это магазин швейной техники и фурнитуры.
                p Добро пожаловать в наш магазин трикотажных тканей и различной фурнитуры!
                p У нас вы можете приобрести всё необходимое для шитья дома - ткани, Также для реализации ваших идей у нас можно приобрести верного помощника - швейную машину, оверлок или другую технику.
                p Получить консультацию по выбору и приобрести все это можно в нашем отделе в ТЦ "Панда" по адресу: Архангельск, ул. Поморская 11, 2 этаж.
