@import "globals/global";

@import "modules/header";
@import "modules/header-mobile";
@import "modules/nav";
@import "modules/nav-mobile";
@import "modules/footer";

// @import "components/product-slider";
// @import "components/product-item";
@import "components/form-input";
@import "components/cart-item";

@import "components/wrapper";
@import "components/link-social";
@import "components/buttons";
@import "components/custom-text";
@import "components/page-title";

.cart {

    @extend %outer;

    &__wrapper {
        margin-bottom: 60px;
    }
    
    &__details {

        @include flex(row,sb);
        font-size: 18px;

        @include screen(991) {
            @include flex(col, fs, s);
        }
    }

    &__title {
        margin-top: 30px;
        margin-bottom: 30px;
        font-weight: 500;
        text-transform: uppercase;

        @include screen(768) {
            margin-bottom: 20px;
        }
    }

    &__form {

        width: 600px;

        @include screen(991) {
            width: 100%;
        }

        &-group {
            width: auto;
        }

        &-group-wrapper {
            @include flex(row,s,s)

            @include screen(585) {
                @include flex(col,fs);
                margin-bottom: 0;
            }
        }

        &-col {
            @include flex(col);
            
            &:not(:last-child) {
                margin-bottom: 30px;
                
                @include screen(585) {
                    margin-bottom: 0;
                }
            }

            @include screen(585) {
                @include flex(col,fs);
                margin-bottom: 0;
            }
        }

        &-item {
            @include flex(col,sb,fs);
            height: 55px;
            margin-right: 40px;
            margin-bottom: 20px;

            @include screen(1199) {
                margin-right: 30px;
            }
            @include screen(585) {
                margin-right: 0;
            }
        }

        &-input.form-input {
            @include screen(585) {
                width: 280px;
            }
        }

        .required::after {
            content: "*";
            color: $color3;
        }

    }


    &__items {
        flex-grow: 1;
        margin-left: 40px;

        @include screen(1199) {
            margin-left: 0px;
        }

        &-list {
            max-height: 400px;
            padding-right: 10px;
            overflow-x: hidden;
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: 8px;
            }
            
            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 2px grey;
                border-radius: 4px;
                cursor: pointer;

            }
            
            &::-webkit-scrollbar-thumb {
                background: $color3;
                border-radius: 4px;

                &:hover {
                    opacity: .8;
                }
            }
        }
    }

    &__totals {

        padding: 10px 0;

        &-row {
            @include flex(row,sb);
            margin: 10px 0;

            @include screen(585) {
                font-size: 14px;
            }

            &-result {
                @include flex(row,sb,fs,wrap);
                margin: 20px 0;
                font-weight: 500;
                text-transform: uppercase;
            }
        }
    }

    &__errors {
        margin-bottom: -30px;
        padding: 10px 0;
        line-height: 25px;
        text-align: center;
        color: $color3;

        overflow: hidden;

    }

    &__send-btn {
        display: block;
        margin: 60px auto;

        @include screen(585) {
            margin-top: 30px;
        }
    }

    &__empty {
        @include flex(col,fs,c);
        padding-top: 60px;

        &-icon {
            width: 60px;
            height: 60px;
            margin-bottom: 35px;
        }
        
        &-text {
            margin-bottom: 60px;
            font-size: 18px;
            line-height: 40px;
            font-weight: 500;
            text-align: center;
        }

        &-catalog-link {
            display: block;
        }
    }
}