@import "globals/global";

@import "components/product-slider";
@import "components/product-item";
@import "components/page-title";

.catalog {

    @extend %outer;

    &__content {
        @include flex(row,sb);

        @include screen(991) {
            @include flex(col,c,s);
        }

    }

    &__filters {

        width: 300px;
        min-width: 300px;
        margin-bottom: 40px;
        font-size: 14px;

        @include screen(991) {
            display: none;
            // align-self: flex-start;
            // width: auto;
            // min-width: 0;
            // margin-bottom: 30px;
        }

        @include screen(768) {
            margin-bottom: 20px;
        }

        &-title {
            margin-bottom: 20px;
            font-size: 18px;
        }

        &-item {
            @include flex(row, fs,c);

            margin-bottom: 20px;

            &.active .catalog__filters-marker {
                background-color: $color3;
            }
        }

        &-marker {
            width: 20px;
            height: 20px;
            margin-right: 20px;
            border: 1px solid $color3;
            border-radius: 2px;
        }
    }

    &__products {
        @include flex(row, fs, fs, wrap);
        
        flex-grow: 1;

        &-item {
            @include flex(col,fs,fe);
            width: 33.33333%;
            margin-bottom: 60px;

            @include screen(1199) {
                width: 50%;
            }
            @include screen(991) {
                align-items: center;
            }
            @include screen(768) {
                width: 100%;
            }
        }
    }
}