@import "globals/global";

@import "modules/header";
@import "modules/header-mobile";
@import "modules/nav";
@import "modules/nav-mobile";
@import "modules/footer";

@import "modules/main-slider";

@import "components/article-item";
@import "components/delivery";
@import "components/contacts";
@import "components/sale";
@import "components/product-slider";
@import "components/wrapper";
@import "components/section";
@import "components/link-social";
@import "components/buttons";
@import "components/custom-text";


.main {
    position: relative;

    &__logo-wrapper {
        position: relative;
    }

    &__logo {

        position: absolute;
        width: 240px;
        height: 220px;
        left: 0;
        top: 10px;
        z-index: 100;

        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        @include screen(1199) {
            left: 20px;
        }
        @include screen(991) {
            width: 220px;
            height: 205px;    
        }
        @include screen(768) {
            display: none;   
        }
    }
}