// CSS
html {
    --max-width: 1180px;
    --header-mobile-height: 100px;
}


// SCSS

$max-width: 1180px;


//COLORS
$color1: #f8f4ef;
$color2: #bab7a4;
$color3: #e7bd5d;
$color4: #53513d;


$main-font-color: $color4;
$font-color-light: $color1;
$bg-color: $color1;
$bg-color-dark: $color4;

// sizes


// fonts

$serif: 'Merriweather', serif;
$sans-serif: 'Montserrat', sans-serif;

$main-font-family: $sans-serif;

//screen sizes max
$xs: 479px;
$sm: 575px;
$md: 768px;
$lg: 991px;
$xl: 1199px;

//screen sizes min
$xs: 480px;
$sm: 576px;
$md: 769px;
$lg: 992px;
$xl: 1200px;



